.color-picker-main-container{
    width: 250px;
    height: 491px;
    
    background: #FFFFFF;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
padding-left: 10px;
padding-right: 10px;
padding-top: 8.5px;
padding-bottom: 15px;
}

.dropdown-icons-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.dropdown-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 62px;
    height: 21px;
}

.dropdown-container-header{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height */
text-align: center;
letter-spacing: 0.02em;

color: #000000;

}

.dropdown-icon{
 margin-top:  5px;
}

.icons-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    width: 62px;
    height: 21px;

}

.color-picker-container{
    position: relative;
    margin-top: 7.5px;
    width: 250px;
height: 250px;

border-radius: 5px;
}

.hue-container{
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 10px;
    
    border-radius: 10px;
}

.transparancy-container{
    position: relative;
    cursor: crosshair;
    margin-top: 10px;
    width: 100%;
    height: 10px;
    
    background: linear-gradient(90deg, #FFFFFF 0%, #1936D0 100%);
    border-radius: 10px; 
}

.hex-code-and-tranparency-container{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

}

.hex-code-container{
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  
    width: 55%;
height: 31px;
background: #F8F8F9;
border-radius: 5px;
}

.hex-code-header{
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
/* identical to box height */
text-align: center;
letter-spacing: 0.02em;

color: #000000;

}

.rgb-hex-hcl-container{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:55%;
    height: 60px;
    background: #F5F5F5;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    align-self: flex-start;
}

.rgb-hex-hcl-input{
    width: 80%;
    height: 31px;
    background-color: #F5F5F5;
    border: none;
    border-radius: 5px;
    text-align: center;
}
.selected-type-header{
    width: 80%;
height: 28px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background: #FF8A25;
border-radius: 3px;
color: white;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 12px;

}


.transparancy-header-container{
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
height: 31px;
background: #F8F8F9;
border-radius: 5px;
}

.transparancy-input{
    width: 80%;
    height: 31px;
    background-color: #F5F5F5;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.transparancy-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
/* identical to box height */
text-align: center;
letter-spacing: 0.02em;

color: #000000;
background-color: #F5F5F5;
border-radius: 5px;
  
}

.Tint-header{
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
/* identical to box height */
text-align: center;
letter-spacing: 0.02em;

color: #000000;

}

.tint-main-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
}

.tint-color-container{
    width: 15.75px;
height: 15.75px;

background: #1936D0;
border-radius: 3px;

}

.Shades-header{
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
/* identical to box height */
text-align: center;
letter-spacing: 0.02em;

color: #000000;

}

.Shades-main-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
}

.Shades-color-container{
    width: 15.75px;
height: 15.75px;

background: #1936D0;
border-radius: 3px;

}

